
old_results_julie/baselines_dec2015.zip
old_results_julie/baselines_dec2015/forprim_bau_AFG_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_AGO_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ALB_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ARG_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_AZE_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BDI_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BFA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BGD_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BIH_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BLZ_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BOL_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BRA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BTN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_BWA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_CHN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_CIV_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_CMR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_COD_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_CPV_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_CRI_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_DOM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ECU_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_EGY_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ETH_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_FSM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GAB_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GEO_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GHA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GIN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GMB_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GTM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_GUY_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_HND_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_HTI_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_HUN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_IDN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_JAM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_KEN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_KGZ_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_KHM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_LAO_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_LBN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_LBR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_LKA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MAR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MDA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MDG_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MEX_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MKD_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MNG_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MOZ_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MRT_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MUS_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_MWI_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_NAM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_NER_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_NGA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_NIC_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_NPL_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_PAK_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_PAN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_PER_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_PHL_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_PNG_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_PRY_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ROU_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_RWA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SEN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SLB_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SLE_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SLV_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SRB_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_STP_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SUR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SWZ_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_SYR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TCD_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TGO_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_THA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TJK_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TKM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TLS_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TUN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TUR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_TZA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_UGA_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_UKR_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_VEN_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_VNM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_YEM_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ZAF_2030.csv
old_results_julie/baselines_dec2015/forprim_bau_ZMB_2030.csv
old_results_julie/with_cc_dec2015.zip
old_results_julie/with_cc_dec2015/forprim_cc_AFG_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_AGO_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ALB_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ARG_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_AZE_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BDI_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BFA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BGD_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BIH_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BLZ_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BOL_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BRA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BTN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_BWA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_CHN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_CIV_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_CMR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_COD_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_CPV_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_CRI_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_DOM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ECU_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_EGY_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ETH_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_FSM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GAB_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GEO_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GHA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GIN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GMB_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GTM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_GUY_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_HND_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_HTI_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_HUN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_IDN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_JAM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_KEN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_KGZ_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_KHM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_LAO_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_LBN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_LBR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_LKA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MAR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MDA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MDG_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MEX_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MKD_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MNG_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MOZ_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MRT_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MUS_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_MWI_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_NAM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_NER_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_NGA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_NIC_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_NPL_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_PAK_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_PAN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_PER_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_PHL_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_PNG_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_PRY_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ROU_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_RWA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SEN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SLB_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SLE_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SLV_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SRB_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_STP_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SUR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SWZ_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_SYR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TCD_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TGO_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_THA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TJK_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TKM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TLS_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TUN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TUR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_TZA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_UGA_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_UKR_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_VEN_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_VNM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_YEM_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ZAF_2030.csv
old_results_julie/with_cc_dec2015/forprim_cc_ZMB_2030.csv
.ipynb_checkpoints/diff_with_cc_multiple_baselines_separate_impacts_one_country-checkpoint.ipynb
.ipynb_checkpoints/diff_with_cc_multiple_baselines-new-checkpoint.ipynb
.ipynb_checkpoints/diff_with_cc_multiple_baselines-checkpoint.ipynb
.ipynb_checkpoints/diff_with_cc_multiple_baselines-Bramka23apr-checkpoint.ipynb
.ipynb_checkpoints/analysis_baseline-BAJ-checkpoint.ipynb
baselines_dec2015/forprim_bau_AFG_2030.csv
baselines_dec2015/forprim_bau_AGO_2030.csv
baselines_dec2015/forprim_bau_ALB_2030.csv
baselines_dec2015/forprim_bau_ARG_2030.csv
baselines_dec2015/forprim_bau_AZE_2030.csv
baselines_dec2015/forprim_bau_BDI_2030.csv
baselines_dec2015/forprim_bau_BFA_2030.csv
baselines_dec2015/forprim_bau_BGD_2030.csv
baselines_dec2015/forprim_bau_BIH_2030.csv
baselines_dec2015/forprim_bau_BLZ_2030.csv
baselines_dec2015/forprim_bau_BOL_2030.csv
baselines_dec2015/forprim_bau_BRA_2030.csv
baselines_dec2015/forprim_bau_BTN_2030.csv
baselines_dec2015/forprim_bau_BWA_2030.csv
baselines_dec2015/forprim_bau_CHN_2030.csv
baselines_dec2015/forprim_bau_CIV_2030.csv
baselines_dec2015/forprim_bau_CMR_2030.csv
baselines_dec2015/forprim_bau_COD_2030.csv
baselines_dec2015/forprim_bau_CPV_2030.csv
baselines_dec2015/forprim_bau_CRI_2030.csv
baselines_dec2015/forprim_bau_DOM_2030.csv
baselines_dec2015/forprim_bau_ECU_2030.csv
baselines_dec2015/forprim_bau_EGY_2030.csv
baselines_dec2015/forprim_bau_ETH_2030.csv
baselines_dec2015/forprim_bau_FSM_2030.csv
baselines_dec2015/forprim_bau_GAB_2030.csv
baselines_dec2015/forprim_bau_GEO_2030.csv
baselines_dec2015/forprim_bau_GHA_2030.csv
baselines_dec2015/forprim_bau_GIN_2030.csv
baselines_dec2015/forprim_bau_GMB_2030.csv
baselines_dec2015/forprim_bau_GTM_2030.csv
baselines_dec2015/forprim_bau_GUY_2030.csv
baselines_dec2015/forprim_bau_HND_2030.csv
baselines_dec2015/forprim_bau_HTI_2030.csv
baselines_dec2015/forprim_bau_HUN_2030.csv
baselines_dec2015/forprim_bau_IDN_2030.csv
baselines_dec2015/forprim_bau_JAM_2030.csv
baselines_dec2015/forprim_bau_KEN_2030.csv
baselines_dec2015/forprim_bau_KGZ_2030.csv
baselines_dec2015/forprim_bau_KHM_2030.csv
baselines_dec2015/forprim_bau_LAO_2030.csv
baselines_dec2015/forprim_bau_LBN_2030.csv
baselines_dec2015/forprim_bau_LBR_2030.csv
baselines_dec2015/forprim_bau_LKA_2030.csv
baselines_dec2015/forprim_bau_MAR_2030.csv
baselines_dec2015/forprim_bau_MDA_2030.csv
baselines_dec2015/forprim_bau_MDG_2030.csv
baselines_dec2015/forprim_bau_MEX_2030.csv
baselines_dec2015/forprim_bau_MKD_2030.csv
baselines_dec2015/forprim_bau_MNG_2030.csv
baselines_dec2015/forprim_bau_MOZ_2030.csv
baselines_dec2015/forprim_bau_MRT_2030.csv
baselines_dec2015/forprim_bau_MUS_2030.csv
baselines_dec2015/forprim_bau_MWI_2030.csv
baselines_dec2015/forprim_bau_NAM_2030.csv
baselines_dec2015/forprim_bau_NER_2030.csv
baselines_dec2015/forprim_bau_NGA_2030.csv
baselines_dec2015/forprim_bau_NIC_2030.csv
baselines_dec2015/forprim_bau_NPL_2030.csv
baselines_dec2015/forprim_bau_PAK_2030.csv
baselines_dec2015/forprim_bau_PAN_2030.csv
baselines_dec2015/forprim_bau_PER_2030.csv
baselines_dec2015/forprim_bau_PHL_2030.csv
baselines_dec2015/forprim_bau_PNG_2030.csv
baselines_dec2015/forprim_bau_PRY_2030.csv
baselines_dec2015/forprim_bau_ROU_2030.csv
baselines_dec2015/forprim_bau_RWA_2030.csv
baselines_dec2015/forprim_bau_SEN_2030.csv
baselines_dec2015/forprim_bau_SLB_2030.csv
baselines_dec2015/forprim_bau_SLE_2030.csv
baselines_dec2015/forprim_bau_SLV_2030.csv
baselines_dec2015/forprim_bau_SRB_2030.csv
baselines_dec2015/forprim_bau_STP_2030.csv
baselines_dec2015/forprim_bau_SUR_2030.csv
baselines_dec2015/forprim_bau_SWZ_2030.csv
baselines_dec2015/forprim_bau_SYR_2030.csv
baselines_dec2015/forprim_bau_TCD_2030.csv
baselines_dec2015/forprim_bau_TGO_2030.csv
baselines_dec2015/forprim_bau_THA_2030.csv
baselines_dec2015/forprim_bau_TJK_2030.csv
baselines_dec2015/forprim_bau_TKM_2030.csv
baselines_dec2015/forprim_bau_TLS_2030.csv
baselines_dec2015/forprim_bau_TUN_2030.csv
baselines_dec2015/forprim_bau_TUR_2030.csv
baselines_dec2015/forprim_bau_TZA_2030.csv
baselines_dec2015/forprim_bau_UGA_2030.csv
baselines_dec2015/forprim_bau_UKR_2030.csv
baselines_dec2015/forprim_bau_VEN_2030.csv
baselines_dec2015/forprim_bau_VNM_2030.csv
baselines_dec2015/forprim_bau_YEM_2030.csv
baselines_dec2015/forprim_bau_ZAF_2030.csv
baselines_dec2015/forprim_bau_ZMB_2030.csv
diff_with_cc_multiple_baselines-Bramka23apr.ipynb
diff_with_cc_multiple_baselines-new.ipynb
diff_with_cc_multiple_baselines.ipynb
diff_with_cc_multiple_baselines_separate_impacts_one_country.ipynb
diff_with_cc_multiple_baselines-new.ipynb
diff_with_cc_multiple_baselines.ipynb
diff_with_cc_multiple_baselines_separate_impacts_one_country.ipynb
with_cc_dec2015/forprim_cc_AFG_2030.csv
with_cc_dec2015/forprim_cc_AGO_2030.csv
with_cc_dec2015/forprim_cc_ALB_2030.csv
with_cc_dec2015/forprim_cc_ARG_2030.csv
with_cc_dec2015/forprim_cc_AZE_2030.csv
with_cc_dec2015/forprim_cc_BDI_2030.csv
with_cc_dec2015/forprim_cc_BFA_2030.csv
with_cc_dec2015/forprim_cc_BGD_2030.csv
with_cc_dec2015/forprim_cc_BIH_2030.csv
with_cc_dec2015/forprim_cc_BLZ_2030.csv
with_cc_dec2015/forprim_cc_BOL_2030.csv
with_cc_dec2015/forprim_cc_BRA_2030.csv
with_cc_dec2015/forprim_cc_BTN_2030.csv
with_cc_dec2015/forprim_cc_BWA_2030.csv
with_cc_dec2015/forprim_cc_CHN_2030.csv
with_cc_dec2015/forprim_cc_CIV_2030.csv
with_cc_dec2015/forprim_cc_CMR_2030.csv
with_cc_dec2015/forprim_cc_COD_2030.csv
with_cc_dec2015/forprim_cc_CPV_2030.csv
with_cc_dec2015/forprim_cc_CRI_2030.csv
with_cc_dec2015/forprim_cc_DOM_2030.csv
with_cc_dec2015/forprim_cc_ECU_2030.csv
with_cc_dec2015/forprim_cc_EGY_2030.csv
with_cc_dec2015/forprim_cc_ETH_2030.csv
with_cc_dec2015/forprim_cc_FSM_2030.csv
with_cc_dec2015/forprim_cc_GAB_2030.csv
with_cc_dec2015/forprim_cc_GEO_2030.csv
with_cc_dec2015/forprim_cc_GHA_2030.csv
with_cc_dec2015/forprim_cc_GIN_2030.csv
with_cc_dec2015/forprim_cc_GMB_2030.csv
with_cc_dec2015/forprim_cc_GTM_2030.csv
with_cc_dec2015/forprim_cc_GUY_2030.csv
with_cc_dec2015/forprim_cc_HND_2030.csv
with_cc_dec2015/forprim_cc_HTI_2030.csv
with_cc_dec2015/forprim_cc_HUN_2030.csv
with_cc_dec2015/forprim_cc_IDN_2030.csv
with_cc_dec2015/forprim_cc_JAM_2030.csv
with_cc_dec2015/forprim_cc_KEN_2030.csv
with_cc_dec2015/forprim_cc_KGZ_2030.csv
with_cc_dec2015/forprim_cc_KHM_2030.csv
with_cc_dec2015/forprim_cc_LAO_2030.csv
with_cc_dec2015/forprim_cc_LBN_2030.csv
with_cc_dec2015/forprim_cc_LBR_2030.csv
with_cc_dec2015/forprim_cc_LKA_2030.csv
with_cc_dec2015/forprim_cc_NPL_2030.csv
with_cc_dec2015/forprim_cc_PAK_2030.csv
with_cc_dec2015/forprim_cc_PAN_2030.csv
with_cc_dec2015/forprim_cc_PER_2030.csv
with_cc_dec2015/forprim_cc_PHL_2030.csv
with_cc_dec2015/forprim_cc_PNG_2030.csv
with_cc_dec2015/forprim_cc_PRY_2030.csv
with_cc_dec2015/forprim_cc_ROU_2030.csv
with_cc_dec2015/forprim_cc_RWA_2030.csv
with_cc_dec2015/forprim_cc_SEN_2030.csv
with_cc_dec2015/forprim_cc_SLB_2030.csv
with_cc_dec2015/forprim_cc_SLE_2030.csv
with_cc_dec2015/forprim_cc_SLV_2030.csv
with_cc_dec2015/forprim_cc_SRB_2030.csv
with_cc_dec2015/forprim_cc_STP_2030.csv
with_cc_dec2015/forprim_cc_SUR_2030.csv
with_cc_dec2015/forprim_cc_SWZ_2030.csv
with_cc_dec2015/forprim_cc_SYR_2030.csv
with_cc_dec2015/forprim_cc_TCD_2030.csv
with_cc_dec2015/forprim_cc_TGO_2030.csv
with_cc_dec2015/forprim_cc_THA_2030.csv
with_cc_dec2015/forprim_cc_TJK_2030.csv
with_cc_dec2015/forprim_cc_TKM_2030.csv
with_cc_dec2015/forprim_cc_TLS_2030.csv
with_cc_dec2015/forprim_cc_TUR_2030.csv
with_cc_dec2015/forprim_cc_TZA_2030.csv
with_cc_dec2015/forprim_cc_UGA_2030.csv
with_cc_dec2015/forprim_cc_UKR_2030.csv
with_cc_dec2015/forprim_cc_VEN_2030.csv
with_cc_dec2015/forprim_cc_VNM_2030.csv
with_cc_dec2015/forprim_cc_YEM_2030.csv
with_cc_dec2015/forprim_cc_ZAF_2030.csv
with_cc_dec2015/forprim_cc_ZMB_2030.csv
with_cc_dec2015/forprim_cc_MAR_2030.csv
with_cc_dec2015/forprim_cc_MDA_2030.csv
with_cc_dec2015/forprim_cc_MDG_2030.csv
with_cc_dec2015/forprim_cc_MEX_2030.csv
with_cc_dec2015/forprim_cc_MKD_2030.csv
with_cc_dec2015/forprim_cc_MNG_2030.csv
with_cc_dec2015/forprim_cc_MOZ_2030.csv
with_cc_dec2015/forprim_cc_MRT_2030.csv
with_cc_dec2015/forprim_cc_MUS_2030.csv
with_cc_dec2015/forprim_cc_MWI_2030.csv
with_cc_dec2015/forprim_cc_NAM_2030.csv
with_cc_dec2015/forprim_cc_NER_2030.csv
with_cc_dec2015/forprim_cc_NGA_2030.csv
with_cc_dec2015/forprim_cc_NIC_2030.csv
with_cc_dec2015/forprim_cc_TUN_2030.csv
__pycache__/kde.cpython-36.pyc
__pycache__/lib_for_analysis.cpython-36.pyc
__pycache__/lib_for_cc.cpython-36.pyc
__pycache__/lib_for_data_reading.cpython-36.pyc
__pycache__/lib_for_growth_model.cpython-36.pyc
__pycache__/lib_for_plot.cpython-36.pyc
__pycache__/pandas_helper.cpython-36.pyc
__pycache__/perc.cpython-36.pyc
